@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slider{
    height: var(--height);
    overflow: hidden;
    mask-image: linear-gradient(
        to right,
        transparent,
        #000 10% 90%,
        transparent
    );
}

.slider .list{
    display: flex;
    flex-wrap: wrap;
    white-space: nowrap;
    width: 100%;
    min-width: calc(var(--width) * var(--quantity));
    position: relative;
}

.slider .list .item{
    width: var(--width);
    height: var(--height);
    position: absolute;
    left: 100%;
    animation: autoRun 90s linear infinite;
    transition: filter 0.5s;
    animation-delay: calc( (90s / var(--quantity)) * (var(--position) - 1) - 90s)!important; /* Adjusted for 60s */
}

@keyframes autoRun{
    from{
        left: 100%;
    }to{
        left: calc(var(--width) * -1);
    }
}

.slider:hover .item{
    animation-play-state: paused!important;
    filter: grayscale(1);
}

.slider .item:hover{
    filter: grayscale(0);
}

.slider[reverse="true"] .item{
    animation: reversePlay 20s linear infinite; /* Changed from 10s to 20s */
}


@keyframes reversePlay{
    from{
        left: calc(var(--width) * -1);
    }to{
        left: 100%;
    }
}

@media screen and (max-width: 468px){  
    .herosBody{
        width: 98%;
        margin: 0 auto;
        background: green;
    } 
    .header-text{
        font-size: 1.5rem;
        color: #0B4F6C;
        font-weight: bold;
    }
}
