@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slider {
    height: var(--height);
    overflow: hidden;
    mask-image: linear-gradient(to right,
            transparent,
            #000 10% 90%,
            transparent);
}

.slider .list {
    display: flex;
    flex-wrap: wrap;
    white-space: nowrap;
    width: 100%;
    min-width: calc(var(--width) * var(--quantity));
    position: relative;
}

.slider .list .item {
    width: var(--width);
    height: var(--height);
    position: absolute;
    left: 100%;
    animation: autoRun 90s linear infinite;
    transition: filter 0.5s;
    animation-delay: calc((90s / var(--quantity)) * (var(--position) - 1) - 90s) !important;
    /* Adjusted for 60s */
}

@keyframes autoRun {
    from {
        left: 100%;
    }

    to {
        left: calc(var(--width) * -1);
    }
}

.slider:hover .item {
    animation-play-state: paused !important;
    filter: grayscale(1);
}

.slider .item:hover {
    filter: grayscale(0);
}

.slider[reverse="true"] .item {
    animation: reversePlay 20s linear infinite;
    /* Changed from 10s to 20s */
}

@keyframes reversePlay {
    from {
        left: calc(var(--width) * -1);
    }

    to {
        left: 100%;
    }
}


/* the project design start here */
.button-for-action button:active {
    background: #2CBE18;
    color: white;
}

@media screen and (max-width: 468px) {
    .herosBody {
        width: 98%;
        margin: 0 auto;
        background: rgb(109, 110, 109);
    }

    .header-text {
        font-size: 1.5rem;
        color: #0B4F6C;
        font-weight: bold;
    }

    .button-for-action {
        display: flex;
        gap: 3px;
    }

    .heros-main-content {
        display: flex;
        justify-content: space-between;
    }

    .button-for-action button {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        color: black;
        font-weight: normal;
        border: 1px solid #2CBE18;
        padding: 3px;
        cursor: pointer;
    }

    /* heros card  design...*/
    .heros-card {
        display: flex;
    }

    .heros-card-details {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .heros-card-image-two img {
        width: 10px;
    }

    .heros-card-container {
        display: flex;
        gap: 5px;
        align-items: center;
    }

    .heros-card-text {
        font-size: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #0B4F6C;
    }

    .heros-card-image img {
        width: 20px;
    }

    .header-text-heors {
        font-size: 1.5rem;
        color: #013F16;
        font-weight: bold;
        line-height: 1;
    }

    .hearos-line-paragraph {
        color: #013F16;
        font-weight: 400;
        margin-top: 5%;
    }

    .button-for-action-one {
        display: flex;
        gap: 15px;
    }

    .button-for-action-one button:first-child {
        background: #2CBE18;
        padding: 5px;
        border-radius: 10px;
        font-weight: bold;
        border: 1px solid #2CBE18;
        cursor: pointer;
        color: white;
    }

    .button-for-action-one button:last-child {
        border-radius: 10px;
        font-weight: bold;
        border: 1px solid #2CBE18;
        padding: 5px;
        width: 20%;
    }

    .payer-manager{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        background: #E7E9EE;
        width: 100%;
    }
}