@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: white;
}

.slider {
    height: var(--height);
    overflow: hidden;
    mask-image: linear-gradient(to right,
            transparent,
            #000 10% 90%,
            transparent);
}

.slider .list {
    display: flex;
    flex-wrap: wrap;
    white-space: nowrap;
    width: 100%;
    min-width: calc(var(--width) * var(--quantity));
    position: relative;
}

.slider .list .item {
    width: var(--width);
    height: var(--height);
    position: absolute;
    left: 100%;
    animation: autoRun 90s linear infinite;
    transition: filter 0.5s;
    animation-delay: calc((90s / var(--quantity)) * (var(--position) - 1) - 90s) !important;
    /* Adjusted for 60s */
}

@keyframes autoRun {
    from {
        left: 100%;
    }

    to {
        left: calc(var(--width) * -1);
    }
}

.slider:hover .item {
    animation-play-state: paused !important;
    filter: grayscale(1);
}

.slider .item:hover {
    filter: grayscale(0);
}

.slider[reverse="true"] .item {
    animation: reversePlay 20s linear infinite;
    /* Changed from 10s to 20s */
}

@keyframes reversePlay {
    from {
        left: calc(var(--width) * -1);
    }

    to {
        left: 100%;
    }
}


/* the project design start here */
.button-for-action button:active {
    background: #2CBE18;
    color: white;
}

@media screen and (max-width: 468px) {
    .herosBody {
        width: 98%;
        margin: 0 auto;
        background: rgb(109, 110, 109);
    }

    .header-text {
        font-size: 1.5rem;
        color: #0B4F6C;
        font-weight: bold;
    }

    .button-for-action {
        display: flex;
        gap: 3px;
    }

    .heros-main-content {
        display: flex;
        justify-content: space-between;
    }

    .button-for-action button {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        color: black;
        font-weight: normal;
        border: 1px solid #2CBE18;
        padding: 3px;
        cursor: pointer;
    }

    /* heros card  design...*/
    .heros-card {
        display: flex;
    }

    .heros-card-details {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .heros-card-image-two img {
        width: 10px;
    }

    .heros-card-container {
        display: flex;
        gap: 5px;
        align-items: center;
    }

    .heros-card-text {
        font-size: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #0B4F6C;
    }

    .heros-card-image img {
        width: 20px;
    }

    .header-text-heors {
        font-size: 1.5rem;
        color: #013F16;
        font-weight: bold;
        line-height: 1;
    }

    .hearos-line-paragraph {
        color: #013F16;
        font-weight: 400;
        margin-top: 5%;
    }

    .button-for-action-one {
        display: flex;
        gap: 15px;
    }

    .button-for-action-one button:first-child {
        background: #2CBE18;
        padding: 5px;
        border-radius: 10px;
        font-weight: bold;
        border: 1px solid #2CBE18;
        cursor: pointer;
        color: white;
    }

    .button-for-action-one button:last-child {
        border-radius: 10px;
        font-weight: bold;
        border: 1px solid #2CBE18;
        padding: 5px;
        width: 20%;
    }

    .payer-manager {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        background: #E7E9EE;
        width: 100%;
    }

    .globalaccountsBody {
        background: white;
    }

    .globalaccounts-card {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #C4DAD2;
        padding: 20px 20px;
        gap: 44px;
    }

    .globalaccounts-card:nth-child(2) {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        background: #E9EFEC;
    }

    .globalaccounts-content {
        padding: 20px 20px;
    }

    .globalaccounts-card-details {
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 10px;
    }

    .globalaccounts-card-details h2 {
        color: #0B4F6C;
        font-weight: bold;
        font-size: large;
        margin-top: 5px;
    }

    .globalaccounts-card-details p {
        font-weight: normal;
        font-size: small;
        color: #013F16;
    }

    .how-it-works-container {
        padding: 10px 10px;
    }

    .how-it-works-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
    }

    .how-it-works-content h2 {
        font-size: 30px;
        color: #013F16;
        font-weight: bold;
        text-transform: uppercase;
    }

    .how-it-works-paragraph {
        font-size: small;
        font-weight: normal;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .how-it-works-object {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 20px;
        gap: 44px;
    }

    .how-it-works-object-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .how-it-works-object-details h2 {
        color: #0B4F6C;
        font-weight: bold;
        font-size: larger;
        margin-top: 5px;
    }

    .how-it-works-object-details p {
        font-weight: normal;
        font-size: small;
        color: #013F16;
        margin-top: 3px;
    }

    .safety-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;

    }

    .safety-container {
        background: #F5EFE7;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .safety-content h2 {
        font-size: 20px;
        color: #013F16;
        font-weight: bold;
        text-transform: uppercase;
    }

    .safety-paragraph {
        font-size: small;
        font-weight: normal;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 10px;
    }

    .safetyness-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20px 20px;
    }

    .safety-card,
    .safety-card-details {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 5px;
    }

    .safety-card-details h2 {
        color: #0B4F6C;
        font-weight: bold;
        font-size: larger;
        margin-top: 5px;
    }

    .safety-card-details p {
        font-weight: normal;
        font-size: small;
        color: #013F16;
        margin-top: 3px;
        text-align: center;
        padding-bottom: 10px;
    }

    .sending-money-container {
        background: #2CBE18;
        padding-top: 100px;
        padding-bottom: 50px;
    }

    .sending-content-details {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
    }

    .send-money-h2 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .sending-content-details h2 {
        font-size: 25px;
        color: white;
        font-weight: bold;
        text-transform: uppercase;
    }

    .sending-money-paragraph {
        font-size: small;
        font-weight: normal;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20px;
        color: white;
    }

    .sending-money-paragraph p {
        text-align: start;
        padding-top: 8px;
    }
    .sending-money-content-image img{
        width: 90% ;
        height: 300px !important;
        margin: 0 auto;
        border-radius: 20px;
        margin-top: -230px;
    }
    .white-by-default{
        background: white;
        height: 200px;
        width: 100% !important;
    }

    .container-green{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .default-green{
        background: #013F16;
        padding: 10px;
        border-radius: 10px;
        font-weight: bold;
        height: 40px;
        width: 150px;
    }

    .finitepaysection{
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        padding: 20px;
    }

    .finitepaysection-content-h1{
        color: #0B4F6C;
        font-weight: bolder;
        font-size: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        line-height: 1;
    }

    .finitepaysection-content-paragraph{
        font-size: small;
        font-weight: normal;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        line-height: 1.5;
    }

    .finitepaysection-money-content-image img{
        height: 300px;
        width: 90%;
        margin: 0 auto;
        border-radius: 20px;
        padding: 10px;
    }

    .finitepaysection-content-h1-second{
        color: #24637B;
        font-weight: bolder;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        line-height: 1;
    }

    .finitepaysection-card-one{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        padding-top: 15px;
    }

    .finitepaysection-card-one h1{
        color: #0B4F6C;
        font-weight: bolder;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        line-height: 1;
        padding: 5px;
    }

    .finitepaysection-card-one p{
        font-weight: normal;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        line-height: 1.5;
    }

    .happy-customers-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .header-text h1{
        font-size: 20px;
        color: #0B4F6C;
        font-weight: bolder;
        line-height: 1;
    }

    .happy-customers-content-paragraphe p{
        font-size: small;
        font-weight: normal;
        line-height: 1.5;
        text-align: center;
        padding: 10px;
    }

    /* design carousel */
    .slider-happy-clients{
        background: #E8ECD7;
        width: 90%;
    }

    .slider-card{
        display: flex;
        justify-content: space-between;
        background: #D4F3E1;
        padding: 20px 10px;
        width: 95%;
        margin: 20px auto;
        gap: 20px;
    }

    .slider-card-content{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .slider-card-image img{
        border-radius: 100%;
        width: 100px;
        object-fit: contain;
    }

    .slider-card-content h3{
        color: #0B4F6C;
        font-weight: bolder;
        font-size: 20px;
        display: flex;
        line-height: 1;
    }

    .slider-card-content p{
        font-weight: normal;
        font-size: small;
        display: flex;
        line-height: 1.5;
    }

    .slider-card-text{
        padding-top: 5px;
    }
    .slider-card-location{
        color: #0B4F6C;
        font-weight: bolder;
    }

    .slider-controls{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 20px;
    }
    .slider-controls .slider-arrow-left, .slider-arrow-right{
        background-color: #2CBE18;
        font-size: 40px;
        color: white;
        padding: 10px;
        border-radius: 50%;
    }

    .questioncomonBody{
        padding: 0px;
        margin: 0px;
        width: 100%;
    }
    .questioncomon-main-content h1{
        font-size: 20px;
        color: #0B4F6C;
        font-weight: bolder;
        line-height: 1;
        padding: 10px;
        text-align: center;
        text-transform: uppercase;
    }

    .questioncomon-content{
        display: flex;
        justify-content: center;
        flex-direction: column;
        background: #D4F3E1;
    }

    .questioncomon-card{
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 20px;
        background: #D4F3E1;
    }

    .questioncomon-card-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid #0B4F6C;
        width: 100%;
    }
}
